input,
textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.container {
    width: 40%;
    margin: auto;
}

.div2 {
    width: 82%;
}

.add-course {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 21px #dcdcdc;
    text-align: center;
}

button {
    background-color: #ffffff;
    border: 1px solid black;
    color: #a2a2a2;
    width: 120px;
    margin-bottom: 10px;
    height: 30px;
    transition: 1px;
}

button:hover {
    background-color: #575757;
    color: white;
}

th,
td {
    width: 200px;
    text-align: center;
}

.delete {
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: .4s all;
}

.delete:hover {
    background-color: transparent;
    color: red;
}

.update {
    border: 1px solid rgb(131, 186, 231);
    background-color: rgb(131, 186, 231);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: .4s all;
}

.update:hover {
    background-color: transparent;
    color: rgb(131, 186, 231);
}

.required {
    color: red;
}