input,
textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.container {
    width: 40%;
    margin: auto;
}

.add-course {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 21px #dcdcdc;
    text-align: center;
}