/* body style */
body {
    background-color: #f1faeece;
    color: #223f68;
}

/* style inputs and textarea */
input,
textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    resize: none;
}

/* style CRUD form container */
.container {
    width: 40%;
    margin: auto;
}

/* style the div that contains the search input and course table information */
.div2 {
    width: 82%;
}

/* style the div that contains the course inputs */
.add-course {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 21px #dcdcdc;
    text-align: center;
}

/* style Add course and clear button */
.add-course button {
    background-color: #ffffff;
    border: 1px solid rgb(240, 235, 235);
    color: #696969;
    width: 120px;
    margin-bottom: 10px;
    height: 30px;
    transition: 1px;
}

/* Add hover to Add course and clear button */
button:hover {
    background-color: #223f68;
    color: white;
}

input[type="search"] {
    border: 1px solid #b1becf;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* styling thead and the cell of the body */
th {
    color: #1D3557;
}

th,
td {
    width: 200px;
    text-align: center;
}

/* styling delete button */
.delete {
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: .4s all;
}

.delete:hover {
    background-color: transparent;
    color: red;
}

/* styling update button */
.update {
    border: 1px solid rgb(131, 186, 231);
    background-color: rgb(131, 186, 231);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition: .4s all;
}

.update:hover {
    background-color: transparent;
    color: rgb(131, 186, 231);
}

/* span for star * for required inputs */
.required {
    color: red;
}